<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Deployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Deployer.Properties.Settings>
            <setting name="ArchivePath" serializeAs="String">
                <value>c:\!deployer\archive</value>
            </setting>
            <setting name="DropPath" serializeAs="String">
                <value>c:\!deployer\drop</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>c:\!deployer\logs</value>
            </setting>
            <setting name="DllCache" serializeAs="String">
                <value>c:\!deployer\dllCache</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>c:\!deployer\backup</value>
            </setting>
            <setting name="ErrorPath" serializeAs="String">
                <value>c:\!deployer\error</value>
            </setting>
            <setting name="TransferPath" serializeAs="String">
                <value>c:\!deployer\transfer</value>
            </setting>
        </Deployer.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
</configuration>