<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=RAZVOJ1\DOTEXE2005DEV;Initial Catalog=ASTRA_IS_TEST14;User ID=astris;PWD=astris" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <userSettings>
        <TestApp.Properties.Settings>
            <setting name="SomeSetting" serializeAs="String">
                <value>Blah</value>
            </setting>
        </TestApp.Properties.Settings>
    </userSettings>
</configuration>